.InputTextContainer{
    margin: 15px 30px 25px;
    width: 80%;
}

.InputContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.InputContainer textarea:last-child{
    margin-top: 15px;
}

.fontForInput{
    font-family: "RobotoLight";
    font-size: 24px;
}

.fontInputTitle{
    font-family: "Oswald-VariableFont";
    font-size: 30px;
}

.inputTitleArea{
    box-sizing: border-box;
}

.noteDoNotSelected{
    height: 86vh;
    box-sizing: border-box;
    display: flex;
}

.warningEntry{
    box-sizing: border-box;
    white-space: pre-wrap;
}

.inputTextArea{
    resize: none;
    box-sizing: border-box;
    height: 82vh;
}

@media (max-width: 1300px) {
    .InputTextContainer{
        width: 75%;
    }
}

@media (max-width: 980px) {
    .InputTextContainer{
        width: 70%;
    }

    .fontForInput{
        font-size: 26px;
    }
}

@media (max-width: 700px) {
    .InputTextContainer{
        width: 65%;
    }

    .fontInputTitle{
        font-size: 28px;
    }

    .fontForInput{
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .InputTextContainer{
        width: 70%;
        margin: 15px 15px 25px;
    }

    .fontInputTitle{
        font-size: 24px;
    }

    .fontForInput{
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .fontInputTitle{
        font-size: 22px;
    }

    .fontForInput{
        font-size: 16px;
    }
}

@media (max-height: 900px) {
    .inputTextArea{
        height: 80vh;
    }

    .noteDoNotSelected{
        height: 80vh;
    }
}

@media (max-height: 770px) {
    .inputTextArea{
        height: 77vh;
    }

    .noteDoNotSelected{
        height: 74vh;
    }
}

@media (max-height: 670px) {
    .inputTextArea{
        height: 74vh;
    }

    .noteDoNotSelected{
        height: 74vh;
    }
}

@media (max-height: 580px) {
    .inputTextArea{
        height: 70vh;
    }

    .noteDoNotSelected{
        height: 68vh;
    }
}

@media (max-height: 510px) {
    .inputTextArea{
        height: 68vh;
    }

    .noteDoNotSelected{
        height: 68vh;
    }
}

@media (max-height: 470px) {
    .inputTextArea{
        height: 64vh;
    }

    .noteDoNotSelected{
        height: 68vh;
    }
}

@media (max-height: 390px) {
    .inputTextArea{
        height: 60vh;
    }

    .noteDoNotSelected{
        height: 68vh;
    }
}