.toolsContainer{
    background-color: lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(105, 105, 105) 1px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}
