@font-face {
  font-family: "RobotoLight";
  src: url("./fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oswald-VariableFont";
  src: url("./fonts/Oswald-VariableFont_wght.ttf");
  font-weight: 500;
}